// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #4073F5;
$color-blue: 			#009BC0;
$color-blue-king:		#2A73E1;
$color-white: 			#ffffff;
