.page-template-template-newsletter{
	background-color: $color-blue-king;
}

.newsletter-contentform{
	position: relative;
}

#mc_embed_signup{
	position: relative;
	background-color: $color-white;
	padding: 30px 25px 35px;
	border-radius: 5px;
	box-shadow: 3px 3px 9px -2px rgba(0,0,0,0.75);
	top: -30px;
}

.newsletter-contentform-introimg{
	text-align: center;
}

.mc-field-group{
	float: left;
	input[type='email']{
		padding:6px 8px;
		width: 220px;
	}
}



.newsletter-contentform-logo{
	position: relative;
    border-radius: 58%;
    width: 140px;
    height: 140px;
    box-shadow: 3px 3px 9px -2px rgba(0,0,0,0.75);
    z-index: 1;
    margin: 0 auto;
    img{
    	width: 140px;
    }
}

#mc_embed_signup_scroll{
	position: relative;
	width: 256px;
	margin:0 auto;
}

input { font-family: 'FontAwesome'; } /* This is for the placeholder */


.newsletter-button{
	position: relative;
	background-color: $color-blue-king;
	padding: 8px 11px;
	border:none;
}

#mce-success-response, #mce-error-response{
	text-align: center;
}
